# Node.js
node_modules/
.env

# Logs
logs
*.log

# Docker
pgdata/
postgres_data/
frontend/nginx/default.conf~
frontend/js/utils/env.js
./backend/database/database.js
.vscode/launch.json
docker-compose.yaml
