.header {
    background-color: #7367f0;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo:hover {
    cursor: pointer;
}

.user-area {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-icon {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7367f0;
    font-weight: bold;
}


#logout {
    margin-right: 20px;
    color: white;
}

#logout:hover {
    color: rgba(255, 255, 255, 0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.5);
}
